# Dependencies
node_modules/
server/node_modules/
.idea/

# Build artifacts
.next/
dist/
server/dist/

# Logs and OS files
*.log
npm-debug.log
.DS_Store
.workspace.xml
# Folders to ignore
nonuploadable/
